%links {
  text-decoration: none;
}

%img {
  @include flexbox();
  flex-direction: column;
  justify-content: center;
}

%primary-headline {
  font-weight: bold;
  @include flexbox();
  justify-content: center;
  color: $color-primary;
  font-family: $font-nav-text;
  align-content: center;
  margin-left: 15px;
}

%secondary-headline {
  font-weight: 100;
  @include flexbox();
  align-items: flex-start;
  font-size: 15px;
  font-family: $font-nav-text;
  color: $color-main;
}

%nav {
  @include flexbox();
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-text-nav;
}

%btn {
  @include flexbox();
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-input-buttons;
  border: none;
  font-size: 1em;
  width: 100%;
  height: 2.5em;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1.5em 0em;
}

%form {
  @include flexbox();
  flex-direction: column;
  font-family: $font-input-buttons;
  color: $color-text-nav;
}

%grid_font {
  @include flexbox();
  justify-content: flex-start;
  align-items: center;
  font-family: $font-input-buttons;
  color: $color-main;
  font-weight: bold;
}
