%links {
    text-decoration: none;
}

%img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%primary-headline {
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: $color-primary;
    font-family: $font-nav-text;
    align-content: center;
    margin-left: 15px;
}

%secondary-headline {
    font-weight: 100;
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    font-family: $font-nav-text;
    color: $color-main;
}

%nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-text-nav;
}

%btn {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 0.3em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    border: none;
}

%form {
    display: flex;
    flex-direction: column;
    font-family: $font-input-buttons;
    color: $color-text-nav;
}

%grid {
    display: flex;
    flex-direction: column;
    margin: 5px 15px;
}

