@mixin mediaq($dscreen) {
  $mob: 480;
  $tab: 796;

  @if $dscreen <= $mob {
    @media screen and (max-width: $dscreen) {
      @content;
    }
  }

  @else if $dscreen > $mob {
    @media screen and (min-width: $dscreen){
      @content;
    }
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

// @mixin myfun($ini, $end, $tag) {
//   @for $i from $ini through $end {
//     .grid__col--#{$i} {
//       color: #{$tag + $i}; // change with one map for color?
//     }
//   }
// }
