// -------------------------
//Colors
//--------------------------
$color-primary: #58e1c1; //hover and lines color
$color-text-nav: #5f5f5f; 
$color-main: #808080;
$color-highlights-loginbutton: #54defc;

    //buttons
$color-default-button: #51ddfc;
$color-success-button: #63cc82;
$color-error-button: #e4757a;
$color-warning-button: #fd7856;
$color-info-button: #927bc1;

    //Grid system
    $colours: (
        color-1: #eee0b2,
        color-2: #79b869,
        color-3: #deb2ee,
        color-4: #7ee6fd,
        color-5: #88d9a0,
        color-6: #3fabca,
        color-7: #ec9fa3,
        color-8: #fd9f85,
        color-12: #80e8d1,
        );
//------------------------
//Fonts
//-----------------------
$font-nav-text: 'Helvetica Neue', 'Lato', sans-serif; //main-nav and text font
$font-input-buttons: 'Nunito Sans', sans-serif; //inputs and buttons font

//------------------------
//Breakpoints
//------------------------
$break-m: 480px;
$break-md:481px;
$break-t: 769px;
$break-d: 1400px;
$media-t: 1024px;

//-----------------------
//Grids
//----------------------
$space: 0.5em;

