/*=========== BUTTONS ===============*/
.btn {
  &--default.theme__colors {
    @extend %btn;
    background-color: $color-default-button;
  }
  &--success.theme__colors {
    @extend %btn;
    background-color: $color-success-button;
  }
  &--error.theme__colors {
    @extend %btn;
    background-color: $color-error-button;
  }
  &--warning.theme__colors {
    @extend %btn;
    background-color: $color-warning-button;
  }
  &--info.theme__colors {
    @extend %btn;
    background-color: $color-info-button;
  }
}

button.theme__colors:hover {
  transition: ease-in-out .5s;
  box-shadow: inset 0 0 10px #000000;
}

/*=========== END BUTTONS ===============*/

/*---------------------------------------*/