.form{
    @extend %form;
}

.form .img--avatar{
    @extend %img;
    width: 12em;
    align-self: center;
} 

.form input {
    border: none;
    border-bottom: 0.5em solid $color-primary;
    margin:0 0.5em 2em;
    font-size: 0.8em;
    padding: 0.8em;
    font-weight: bold;
}

.form label {
    display: none;
}


