.form {
  @extend %form;
  width: 100%;
  & button[type=submit] {
    width: 100%;
    margin: 0;
  }
  @include mediaq($break-t) {
    margin: 2.1em 1em 0em;
  }
}

.form input {
  border: none;
  border-bottom: 0.5em solid $color-primary;
  margin: 0 0.6em 2em;
  font-size: 0.8em;
  padding: 1em 1em;
  font-weight: bold;
}

.form label {
  display: none;
}
