/* =========== GRIDS ================*/
.container {
  display: block;
  margin: 3em 3.1em;
  @include mediaq($break-t) {
    margin: 0 10.5%;
  }
}

.grid {
  &__row {
    @include flexbox();
    flex-direction: column;
    justify-content: space-between;
    margin: 2.5em 0;
    @include mediaq($break-t) {
      flex-direction: row;
      justify-content: start;
    }
  }
  @for $i from 1 through 12 {
    &__col--#{$i} {
      width: 100%;
      align-self: center;
    }
    &__col--#{$i}.theme__colors {
      $color: "color-" + $i;
      $color1: map-get($colours, $color);
      @include flexbox();
      background-color: $color1;
      @extend %grid_font;
      height: 2.5em;
      border-radius: 5px;
      flex-shrink: 3px;
      width: 100%;
      margin: 0.2em 0;
    }
  }
}

/*=========== END GRIDS ===============*/
/*---------------------------------------*/
