.img {
  &--frame {
    display: grid;
    width: 100%;
    padding: 1em;
    border: 0.5px solid lighten($color-main, 30%);
    margin: 0.5em 0;
  }
  &--avatar {
    display: grid;
    margin-top: 1.5em;
    margin-bottom: 2em;
  } 
  &--logo {
    display: grid;
    margin: 2em auto;
    @include mediaq($break-t){
      & {
        margin: 0;
      }
    }
  }
}
