.card {
margin-top: 6.25em;
}

.headline--secondary {
    @extend %secondary-headline;
}

.headline--primary {
    @extend %primary-headline;
}

.card p {
    font-size: 1.11em;
    color: $color-main;
    font-family: $font-nav-text;
    line-height: 1.5em;
}

.link {
    @extend %links;
    color: $color-default-button;
    font-weight: 600;
}

.blockquote {
    font-family: $font-nav-text;
    color: $color-main;
    font-size: 1.5em;
    font-style: italic;
    border-left: 0.35em solid $color-primary;
    border-radius: 0.2em;
    padding-left: 0.9em;
    margin-left: 0.9em;
}